.btn-open {
    width: 170px;
    padding: 10px 0;
    background-color: #83db32;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 170px);
    
}